In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
final_data = pd.read_pickle(r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/02 Data/Prepared Data/customer_orders_products.pkl')

In [3]:
final_data.head()

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,...,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer

In [4]:
#Comparing Spending to State
final_data.groupby('spending_flag')['State'].value_counts()

spending_flag  State
High Spender   Pennsylvania    666594
               California      658772
               Rhode Island    656240
               Georgia         655797
               New Mexico      653645
                                ...
Low Spender    Florida            416
               Pennsylvania       411
               Wyoming            405
               Texas              398
               North Dakota       363
Name: State, Length: 102, dtype: int64

In [5]:
#Creating Exclusion Flag
final_data.loc[final_data['max_order'] < 5, 'exclusion_flag'] = 'Low Activity Customer'

In [6]:
final_data.head(50)

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,...,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag,exclusion_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
5,26711,Female,Missouri,48,1/1/2017,3,married,165665,443894,2984525,...,Busiest days,Most Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
6,26711,Female,Missouri,48,1/1/2017,3,married,165665,443896,2505178,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
7,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
8,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
9,26711,Female,Missouri,48,1/1/2017,3,married,165665,443891,518967,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
10,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
11,26711,Female,Missouri,48,1/1/2017,3,married,165665,443894,2984525,...,Busiest days,Most Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
12,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
13,26711,Female,Missouri,48,1/1/2017,3,married,165665,443896,2505178,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
14,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
15,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
16,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
17,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
18,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562335,1044841,...,Busiest days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
19,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562336,474720,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
20,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562337,896617,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
21,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
22,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562335,1044841,...,Busiest days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
23,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562337,896617,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
24,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562344,2043158,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
25,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562339,2770784,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
26,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562340,2801781,...,Busiest days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
27,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562343,2225391,...,Least busy days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
28,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
29,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
30,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562340,2801781,...,Busiest days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
31,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562341,1912896,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
32,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562333,2135662,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
33,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562333,2135662,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
34,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562339,2770784,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
35,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562336,474720,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
36,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562337,896617,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
37,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562344,2043158,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
38,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562341,1912896,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
39,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562344,2043158,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
40,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
41,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562337,896617,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
42,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
43,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
44,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562336,474720,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
45,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562340,2801781,...,Busiest days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
46,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562343,2225391,...,Least busy days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
47,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,...,Busiest days,Most Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
48,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562340,2801781,...,Busiest days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN
49,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562342,1987968,...,Busiest days,Least Orders,12,Regular customer,14.7,High Spender,30.0,26.0,Non-frequent Customer,NaN

In [7]:
#Exclusing records for Low Activity Customers
mask = final_data['exclusion_flag'].isin(['Low Activity Customer'])
final_data[~mask]

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,...,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag,exclusion_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,...,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404813,135902,Female,Missouri,66,4/1/2020,2,married,53374,2256467,974951,...,Busiest days,Most Orders,8,New customer,23.1,High Spender,23.0,8.0,Frequent Customer,NaN
32404814,135902,Female,Missouri,66,4/1/2020,2,married,53374,2256470,628984,...,Busiest days,Least Orders,8,New customer,23.1,High Spender,23.0,8.0,Frequent Customer,NaN
32404815,135902,Female,Missouri,66,4/1/2020,2,married,53374,2256473,1157983,...,Busiest days,Least Orders,8,New customer,23.1,High Spender,23.0,8.0,Frequent Customer,NaN
32404816,135902,Female,Missouri,66,4/1/2020,2,married,53374,2256474,2498530,...,Busiest days,Most Orders,8,New customer,23.1,High Spender,23.0,8.0,Frequent Customer,NaN
32404817,135902,Female,Missouri,66,4/1/2020,2,married,53374,2256469,1104840,...,Busiest days,Least Orders,8,New customer,23.1,High Spender,23.0,8.0,Frequent Customer,NaN

In [8]:
#Exporting this sample
path = (r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/')

In [9]:
# Export data to pkl

final_data.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'lowactivityexcluded.pkl'))

In [10]:
pd.set_option('display.max_columns', None)
final_data.head()

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag,exclusion_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,prior,5,1,9,30.0,196,2,0,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,prior,7,5,15,11.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,prior,8,1,15,10.0,196,2,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,prior,2,2,9,14.0,38928,1,0,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,prior,3,3,11,30.0,38928,1,1,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,NaN

In [14]:
age_orders = final_data.groupby('Age')['order_number'].mean().reset_index()

In [17]:
age_orders.sort_values('order_number', ascending = False)

    Age  order_number
16   34     18.121511
4    22     17.960098
46   64     17.817539
39   57     17.802859
31   49     17.785441
..  ...           ...
6    24     16.466415
28   46     16.436903
37   55     16.392710
7    25     16.343800
12   30     16.252157

[64 rows x 2 columns]

In [19]:
fam_status_orders = final_data.groupby('fam_status')['order_number'].mean()

In [21]:
fam_status_orders.head()

fam_status
divorced/widowed                    17.275873
living with parents and siblings    17.296372
married                             17.088283
single                              17.258766
Name: order_number, dtype: float64

In [22]:
gender_orders = final_data.groupby('Gender')['order_number'].mean()

In [23]:
gender_orders.head()

Gender
Female    17.213503
Male      17.072089
Name: order_number, dtype: float64

In [24]:
dependents_orders = final_data.groupby('no_of_dependents')['order_number'].mean()

In [25]:
dependents_orders.head()

no_of_dependents
0    17.264622
1    17.097906
2    17.063173
3    17.143361
Name: order_number, dtype: float64

In [26]:
age_day = final_data.groupby('Age')['orders_day_of_week'].median()

In [30]:
age_day

Age
18    2
19    3
20    3
21    2
22    3
     ..
77    2
78    3
79    3
80    3
81    3
Name: orders_day_of_week, Length: 64, dtype: int64

In [31]:
fam_status_day = final_data.groupby('fam_status')['orders_day_of_week'].median()

In [32]:
fam_status_day

fam_status
divorced/widowed                    3
living with parents and siblings    3
married                             3
single                              3
Name: orders_day_of_week, dtype: int64

In [ ]:
final_data.loc[final_data['fam_status'] = 'single', 'Profile1'] = 'Single Adult'

In [ ]:
final_data.loc[final_data['fam_status'] = 'married', 'Profile1'] = 'Married Adult'

In [ ]:
final_data.head()