In [6]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [7]:
final_data = pd.read_pickle(r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/02 Data/Prepared Data/customer_orders_products.pkl')

In [8]:
#Removed customers' names in exercise 4.9 for privacy reasons
final_data.head()

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,...,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer

In [9]:
final_data.shape

(32404859, 35)

In [10]:
#Creating Regions Column
result = []

for value in final_data['State']:
    
    if value == 'Maine' or value == 'New Hampshire' or value == 'Vermont' or value == 'Massachusetts' or value == 'Rhode Island' or value == 'Connecticut' or value == 'New York' or value == 'New Jersey' or value == 'Pennsylvania':
        result.append('Northeast')
    elif value == 'Wisconsin' or value == 'Michigan' or value == 'Illinois' or value == 'Indiana' or value == 'Ohio' or value == 'North Dakota' or value == 'South Dakota' or value == 'Nebraska' or value == 'Kansas' or value == 'Minnesota' or value == 'Iowa' or value == 'Missouri' :
        result.append('Midwest')
    elif value == 'Delaware' or value == 'Maryland' or value == 'District of Columbia' or value == 'Virginia' or value == 'West Virginia' or value == 'North Carolina' or value == 'South Carolina' or value == 'Georgia' or value == 'Florida' or value == 'Kentucky' or value == 'Tennessee' or value == 'Mississippi' or value == 'Alabama' or value == 'Oklahoma' or value == 'Texas' or value == 'Arkansas' or value == 'Louisiana':
        result.append('South')
    else:
        result.append('West')

In [11]:
final_data.head()

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,...,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,...,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer

In [12]:
pd.set_option('display.max_columns', None)
final_data.head()

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,prior,5,1,9,30.0,196,2,0,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,prior,7,5,15,11.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,prior,8,1,15,10.0,196,2,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,prior,2,2,9,14.0,38928,1,0,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,prior,3,3,11,30.0,38928,1,1,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer

In [13]:
#Adding new column to datafram
final_data['Region'] = result

In [14]:
#Confirming Region Column was Added
pd.set_option('display.max_columns', None)
final_data.head()

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag,Region
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,prior,5,1,9,30.0,196,2,0,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,prior,7,5,15,11.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,prior,8,1,15,10.0,196,2,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,prior,2,2,9,14.0,38928,1,0,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,prior,3,3,11,30.0,38928,1,1,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest

In [15]:
#Checking for Spending Differences Among Regions
final_data.groupby('Region')['spending_flag'].value_counts()

Region     spending_flag
Midwest    High Spender      7589235
           Low Spender          7791
Northeast  High Spender      5716743
           Low Spender          5607
South      High Spender     10781528
           Low Spender         10012
West       High Spender      8283858
           Low Spender          8480
Name: spending_flag, dtype: int64

Per the above value counts per region, it appears the South has the most high spenders, followed by the West, Midwest, and Northeast.  There is not much difference between West and Midwest.

In [16]:
#Creating Exclusion Flag
final_data.loc[final_data['max_order'] < 5, 'exclusion_flag'] = 'Low Activity Customer'

In [17]:
#Checking to Make Sure Data is Accurate (Comparing Max_order and Low Activity Customer Columns)
final_data.head(100)

,user_id,Gender,State,Age,date_joined,no_of_dependents,fam_status,income,Unnamed: 0_x,order_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag,Region,exclusion_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,prior,5,1,9,30.0,196,2,0,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest,NaN
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,prior,7,5,15,11.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest,NaN
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,prior,8,1,15,10.0,196,2,1,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest,NaN
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,prior,2,2,9,14.0,38928,1,0,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest,NaN
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,prior,3,3,11,30.0,38928,1,1,both,38932,0% Greek Strained Yogurt,120,16,12.6,both,Mid-range product,Busiest days,Least Orders,8,New customer,12.6,High Spender,30.0,19.0,Regular customer,Midwest,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,65803,Male,Idaho,35,1/1/2017,2,married,99568,1092216,2077442,prior,3,1,11,11.0,24852,1,1,both,24853,Banana,24,4,12.3,both,Mid-range product,Busiest days,Least Orders,9,New customer,24.1,High Spender,11.0,7.0,Frequent Customer,West,NaN
96,65803,Male,Idaho,35,1/1/2017,2,married,99568,1092216,2077442,prior,3,1,11,11.0,42356,9,0,both,42360,Strawberry Preserves,88,13,14.0,both,Mid-range product,Busiest days,Least Orders,9,New customer,24.1,High Spender,11.0,7.0,Frequent Customer,West,NaN
97,65803,Male,Idaho,35,1/1/2017,2,married,99568,1092214,1342890,prior,1,0,15,NaN,28985,3,0,both,28987,Michigan Organic Kale,83,4,13.4,both,Mid-range product,Least busy days,Least Orders,9,New customer,24.1,High Spender,11.0,7.0,Frequent Customer,West,NaN
98,65803,Male,Idaho,35,1/1/2017,2,married,99568,1092214,1342890,prior,1,0,15,NaN,43295,1,0,both,43299,Unsweetened Vanilla Almond Milk,91,16,11.2,both,Mid-range product,Least busy days,Least Orders,9,New customer,24.1,High Spender,11.0,7.0,Frequent Customer,West,NaN
99,65803,Male,Idaho,35,1/1/2017,2,married,99568,1092216,2077442,prior,3,1,11,11.0,43295,6,1,both,43299,Unsweetened Vanilla Almond Milk,91,16,11.2,both,Mid-range product,Busiest days,Least Orders,9,New customer,24.1,High Spender,11.0,7.0,Frequent Customer,West,NaN

In [ ]:
#Create Dataframe that Excludes Low Activity Customers
df_active_cust = final_data[final_data['max_order'] < 5]

In [19]:
#Check Info on both Dataframes to make sure the number of rows/columns makes sense
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 37 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 int64
 1   Gender                  object
 2   State                   object
 3   Age                     int64
 4   date_joined             object
 5   no_of_dependents        int64
 6   fam_status              object
 7   income                  int64
 8   Unnamed: 0_x            int64
 9   order_id                int64
 10  eval_set                object
 11  order_number            int64
 12  orders_day_of_week      int64
 13  order_hour_of_day       int64
 14  days_since_prior_order  float64
 15  product_id              int64
 16  add_to_cart_order       int64
 17  reordered               int64
 18  _merge                  category
 19  Unnamed: 0_y            int64
 20  product_name            object
 21  aisle_id                int64
 22  department_id           int64
 23  prices                  float64
 24  exists                  category
 25  price_range_loc         object
 26  busiest_days            object
 27  busiest_period_of_day   object
 28  max_order               int64
 29  loyalty_flag            object
 30  max_price               float64
 31  spending_flag           object
 32  max_frequency           float64
 33  med_frequency           float64
 34  order_freq_flag         object
 35  Region                  object
 36  exclusion_flag          object
dtypes: category(2), float64(5), int64(16), object(14)
memory usage: 8.8+ GB

In [20]:
df_active_cust.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1440295 entries, 729 to 32404858
Data columns (total 37 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   user_id                 1440295 non-null  int64
 1   Gender                  1440295 non-null  object
 2   State                   1440295 non-null  object
 3   Age                     1440295 non-null  int64
 4   date_joined             1440295 non-null  object
 5   no_of_dependents        1440295 non-null  int64
 6   fam_status              1440295 non-null  object
 7   income                  1440295 non-null  int64
 8   Unnamed: 0_x            1440295 non-null  int64
 9   order_id                1440295 non-null  int64
 10  eval_set                1440295 non-null  object
 11  order_number            1440295 non-null  int64
 12  orders_day_of_week      1440295 non-null  int64
 13  order_hour_of_day       1440295 non-null  int64
 14  days_since_prior_order  1025482 non-null  float64
 15  product_id              1440295 non-null  int64
 16  add_to_cart_order       1440295 non-null  int64
 17  reordered               1440295 non-null  int64
 18  _merge                  1440295 non-null  category
 19  Unnamed: 0_y            1440295 non-null  int64
 20  product_name            1440295 non-null  object
 21  aisle_id                1440295 non-null  int64
 22  department_id           1440295 non-null  int64
 23  prices                  1440295 non-null  float64
 24  exists                  1440295 non-null  category
 25  price_range_loc         1440295 non-null  object
 26  busiest_days            1440295 non-null  object
 27  busiest_period_of_day   1440295 non-null  object
 28  max_order               1440295 non-null  int64
 29  loyalty_flag            1440295 non-null  object
 30  max_price               1440295 non-null  float64
 31  spending_flag           1439879 non-null  object
 32  max_frequency           1440290 non-null  float64
 33  med_frequency           1440290 non-null  float64
 34  order_freq_flag         1440290 non-null  object
 35  Region                  1440295 non-null  object
 36  exclusion_flag          1440295 non-null  object
dtypes: category(2), float64(5), int64(16), object(14)
memory usage: 398.3+ MB

In [21]:
#Export the New Dataframe that excludes Low Activity Customers
path = (r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/')

In [22]:
df_active_cust.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'active_customers.pkl'))

In [23]:
#Creating Sample of Data 
np.random.seed(7)
dev = np.random.rand(len(final_data)) <= 0.7

In [24]:
dev

array([ True, False,  True, ...,  True, False,  True])

In [25]:
# Store 70% data in df big
big = final_data[dev]

In [ ]:
# Store 30% data in df small 
small = final_data[~dev]

In [ ]:
#Checking Sample Dataframe
small.head()

In [ ]:
small.shape

In [ ]:
# Creating Customer Profiles
# Young Single Adults 
small.loc[(small['fam_status'] == 'single') & (small['Age'] <= 30), 'cust_profile'] = 'Young_single'

In [ ]:
# Young Married Adults with Children
small.loc[(small['fam_status'] == 'married') & (small['Age'] <= 30) & (small['no_of_dependents'] > 0), 'cust_profile'] = 'Young_family'

In [ ]:
#Young Married Adults without Children
small.loc[(small['fam_status'] == 'married') & (small['Age'] <= 30) & (small['no_of_dependents'] == 0), 'cust_profile'] = 'Young_family_no_kids'

In [ ]:
#All Married Adults
small.loc[(small['fam_status'] == 'married'), 'cust_profile'] = 'Married_adults'

In [ ]:
#All Married Adults with Children
small.loc[(small['fam_status'] == 'married') & (small['no_of_dependents'] > 0), 'cust_profile'] = 'Married_with_children_all_ages'

In [ ]:
#All Married Adults without Children
small.loc[(small['fam_status'] == 'married') & (small['no_of_dependents'] == 0), 'cust_profile'] = 'Married_no_children_all_ages'

In [ ]:
#Single Adults (Including Divorced/Widowed)
small.loc[(small['fam_status'] == 'married') & (small['fam_status'] == 'divorced/widowed'), 'cust_profile'] = 'Single_adults'

In [ ]:
#Adding "Other" for Profiles that Don't Match Above
small['cust_profile'] = small['cust_profile'].fillna('Other')

In [ ]:
#Checking Value Counts of Each Profile
small['cust_profile'].value_counts(dropna = False)

Many of the categories/profiles I chose do not seem to apply to customers

In [ ]:
#Checking Small Dataframe
small.head(50)

In [ ]:
#Importing Libraries for Visualizations
import pickle 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [ ]:
#Line Graph of Max Orders by Hour of Day per Customer Profile
ax = sns.lineplot(x = 'order_hour_of_day', y = 'max_order', hue = 'cust_profile', data = small, ci = False)

In [ ]:
#Line Graph of Typical Day of Week Order Placed per Customer Profile
ax = sns.lineplot(x = 'orders_day_of_week', y = 'order_number', hue = 'cust_profile', data = small, ci = False)

In [ ]:
order_freq_by_profile = small.groupby('cust_profile', sort = False).agg({'order_number': ['mean', 'min', 'max']})

In [ ]:
order_freq_by_profile

In [ ]:
order_freq_by_profile_max = small.groupby('cust_profile', sort = False).agg({'max_frequency': ['mean', 'min', 'max']})

In [ ]:
order_freq_by_profile_max

In [ ]:
order_freq_by_profile_min = small.groupby('cust_profile', sort = False).agg({'med_frequency': ['mean', 'min', 'max']})

In [ ]:
order_freq_by_profile_min

In [ ]:
#Discovered med_frequency column represents the order frequency in general, Rename column
small.rename(columns = {'med_frequency' : 'order_frequency'})

In [ ]:
#Rename in Full Dataframe Also
final_data.rename(columns = {'med_frequency' : 'order_frequency'})

In [ ]:
days_since_prior_order_profile = small.groupby('cust_profile', sort = False).agg({'days_since_prior_order': ['mean', 'min', 'max']})

In [ ]:
days_since_prior_order_profile

In [ ]:
average_spend_profile = small.groupby('cust_profile', sort = False).agg({'prices': ['mean']})

In [ ]:
average_spend_profile

In [ ]:
small.loc[final_data['max_price'] >100, 'max_price'] = np.nan

In [ ]:
max_spend_profile = small.groupby('cust_profile', sort = False).agg({'max_order': ['mean', 'min', 'max']})

In [ ]:
max_spend_profile

In [ ]:
#Creating Bar Chart for Number of Customers in Each Profile
cust_profile_bar = small['cust_profile'].value_counts().plot.bar()

In [ ]:
#Bar Chart Based on Order Frequency, Region, and Customer Profiles
order_freq_region = sns.barplot(x = 'cust_profile', y = 'med_frequency', hue = 'Region', data = small)

In [ ]:
#Departments Shopped By Profile
dept_by_profile = sns.barplot(x = 'department_id', y = 'med_frequency', hue = 'cust_profile', data = small)

In [ ]:
#Exporting Figures
path = (r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/')

In [ ]:
cust_profile_bar.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'cust_profile_bar.png'))

In [ ]:
order_freq_region.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'order_freq_region.png'))

In [ ]:
dept_by_profile.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'dept_by_profile.png'))

In [ ]:
#Line Graph of Max Orders by Hour of Day per Customer Profile
line_hour_day = sns.lineplot(x = 'order_hour_of_day', y = 'max_order', hue = 'cust_profile', data = small, ci = False)

In [ ]:
line_hour_day.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'hour_day_profile.png'))

In [ ]:
ax.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'week_day_profile.png'))

In [ ]:
small.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_data_sample.pkl'))

In [ ]:
loyalty_spend = sns.lineplot(x = 'med_frequency', y = 'order_number', hue = 'loyalty_flag', data = small, ci = False)