In [2]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [3]:
all_data_merged = pd.read_pickle(r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/02 Data/Prepared Data/all_data_merged.pkl')
all_data_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [4]:
#Define a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [5]:
all_data_merged.loc[all_data_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [6]:
all_data_merged.loc[(all_data_merged['prices'] <= 15) & (all_data_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [7]:
all_data_merged.loc[all_data_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [8]:
all_data_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [9]:
all_data_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both,Mid-range product
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product

In [10]:
all_data_merged['orders_day_of_week'].value_counts(dropna = False)
#Busiest days are 0, 1; Least busy days are 3, 4

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [11]:
all_data_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both,Mid-range product
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both,Mid-range product

In [12]:
#Creating Most Busiest Days column
result = []

for value in all_data_merged["orders_day_of_week"]:
  if value >= 1:
    result.append("Busiest days")
  elif value == 3 or 4:
    result.append("Least busy days")
  else:
    result.append("Regularly busy")

In [13]:
all_data_merged['busiest_days'] = result

In [16]:
all_data_merged.tail(10)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days
32404849,3360488,576295,202557,prior,12,3,10,11.0,43553,14,1,both,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Busiest days
32404850,3360489,960088,202557,prior,13,4,12,15.0,43553,3,1,both,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Busiest days
32404851,3360490,343962,202557,prior,14,0,10,3.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Least busy days
32404852,3360491,2329472,202557,prior,15,6,12,6.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Busiest days
32404853,3360492,694731,202557,prior,16,1,14,2.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Busiest days
32404854,3360493,1320836,202557,prior,17,2,15,1.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Busiest days
32404855,3360494,31526,202557,prior,18,5,11,3.0,43553,2,1,both,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Busiest days
32404856,3376038,758936,203436,prior,1,2,7,NaN,42338,4,0,both,42342,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Busiest days
32404857,3376039,2745165,203436,prior,2,3,5,15.0,42338,16,1,both,42342,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Busiest days
32404858,3408036,3093936,205420,prior,1,4,14,NaN,28818,8,0,both,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Busiest days

In [15]:
all_data_merged['busiest_days'].value_counts(dropna = False)

Busiest days       26200677
Least busy days     6204182
Name: busiest_days, dtype: int64

In [17]:
#Creating Busiest Time Periods column
all_data_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

Most Orders = 10, 11, 14, 15, 13, 12, 16
Least Orders = 6, 0, 1, 5, 2, 4, 3
Average Orders = 9, 17, 8, 18, 19, 20, 7, 21, 22, 23

In [18]:
#Creating Busiest Time Periods column
result = []

for value in all_data_merged["order_hour_of_day"]:
  if value >= 16:
    result.append("Most Orders")
  elif value >= 6:
    result.append("Least Orders")
  else:
    result.append("Average Orders")

In [19]:
all_data_merged['busiest_period_of_day'] = result

In [20]:
all_data_merged['busiest_period_of_day'].value_counts(dropna = False)

Least Orders      21482534
Most Orders       10325997
Average Orders      596328
Name: busiest_period_of_day, dtype: int64

In [21]:
#Checking Columns
all_data_merged.head(10)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
2,2,473747,1,prior,3,3,12,21.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
4,4,431534,1,prior,5,4,15,28.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
5,5,3367565,1,prior,6,2,7,19.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
6,6,550135,1,prior,7,1,9,20.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
7,7,3108588,1,prior,8,1,14,14.0,196,2,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
8,8,2295261,1,prior,9,1,16,0.0,196,4,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most Orders
9,9,2550362,1,prior,10,4,8,30.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders

Observations - It is helpful to understand which days and times are busiest, however, I am thinking this is not the most dynamic way to assess the busiest days and periods of time.  It seems odd to have columns with records labeled this way.

It is also not clear if all labels are correctly corresponding to the columns.  I see that the first record in my head says the order_day_of_week is 2, but also says it is "busiest day" however, my code indicated to only label "busiest day" if it was 0 or 1.

I felt this exercise was a bit confusing as to why we would create the columns that we did.  However, I think I understand the overall concept.

In [24]:
path = (r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/')

In [25]:
path

'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/'

In [26]:
# Export data to pkl

or.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'all_data_merged_aggregated.pkl'))